.f{height:1000px;}
.a{position: absolute;top:10px;left:40px;font-size: 30px;}
.b{position: absolute;top:10px;left:600px;font-size: 30px;}
.c  {position:absolute ;top:200px;left:10px;background-color: black;height: 1000px;width: 700px;}
.c1{color: green;top: 20px;position: absolute;left: 20px;}
.c2{position: absolute;top:40px;left:20px;}
.c3{width:100px;height: 100px;}
.c4{position: absolute;color: white;top: 40px;right:10px;}
.c5{position: absolute;color: aqua;top:40px;left:200px;}
.c6{position: absolute;color: brown;top:70px;left:200px;}
.c7{position: absolute;color: blueviolet;top:100px;left:200px;}
.c8{position: absolute;top:60px;right:160px;border-radius: 100%;width: 20px;height: 20px;}
.c9{position: absolute;top:60px;right:60px;color: green;}
.c10{position: absolute;top:75px;right:60px;color: grey;}
.c11{position: absolute;top:100px;right:160px;border-radius: 100%;width: 20px;height: 20px;}
.c12{position: absolute;top:100px;right:40px;color: green;}
.c13{position: absolute;font-size: 10px;color: aqua;top:100px;left:280px;}
.c14{position: absolute;font-size: 10px;color: aqua;top:100px;left:330px;}
.d{position: absolute;width:500px;height:300px;background-color: blue;top:200px;right:50px;}
.d1{position: absolute;top:10px;left:10px;font-size: 40px;}
.d2{position: absolute;top:60px;left:10px;font-size: 20px;}
.d3{position: absolute;top:90px;left:10px;font-size: 20px;}
.d4{position: absolute;top:120px;left:10px;font-size: 20px;}
.d5{position: absolute;top:150px;left:10px;font-size: 20px;}
.d6{position: absolute;top:200px;left:10px;font-size: 20px;color: brown;}
.d7{position: absolute;top:240px;left:80px;font-size: 30px;background-color: yellow;border-radius: 30px;}
.d8{position: absolute;top:60px;right:10px;font-size: 20px;}
.d9{position: absolute;top:90px;right:10px;font-size: 20px;}
.d10{position: absolute;top:120px;right:10px;font-size: 20px;}
.d11{position: absolute;top:150px;right:10px;font-size: 20px;}
.d12{position: absolute;top:200px;right:10px;font-size: 20px;}
.g{position:absolute;width:700px;height:300px;background-color:black;top:600px;left:10px;}
.e3{position: absolute;width: 100px;height: 100px;}
.e2{position: absolute;top:220px;left:20px;}
.e4{position: absolute;color: white;top: 220px;right:10px;}
.e5{position: absolute;color: aqua;top:220px;left:200px;}
.e6{position: absolute;color: brown;top:250px;left:200px;}
.e7{position: absolute;color: blueviolet;top:280px;left:200px;}
.e8{position: absolute;top:250px;right:160px;border-radius: 100%;width: 20px;height: 20px;}
.e9{position: absolute;top:250px;right:60px;color: green;}
.e10{position: absolute;top:260px;right:60px;color: grey;}
.e11{position: absolute;top:280px;right:160px;border-radius: 100%;width: 20px;height: 20px;}
.e12{position: absolute;top:280px;right:40px;color: green;}
.e1{color: green;top: 200px;position: absolute;left: 20px;}
.e13{position: absolute;top:280px;font-size: 10px;color: aqua;left:280px;}
.e14{position: absolute;top:280px;font-size: 10px;color: aqua;left:330px;}


    