.a{  display: flex;flex-direction: row;background-color: black;position: fixed;align-items: center;top:0;left:0;right:0;height:70px;}
.a1{color:blue;position: absolute;top:20px;left:100px;}
.a2{color:red;position:absolute;top:20px;right:100px;}
.a3{position: absolute;left:300px;top:20px;width:600px;height:30px;}
.a4{position: absolute;right:410px;top:20px;background-color: yellow;padding-left:10px;padding-right:10px;padding-top:10px;}
.a5{width:30px;height:20px;}
.b1{width:200px;height:200px;position:absolute ;top:100px;left:30px;}
.b2{position:absolute;top:300px;left:30px;color: aqua;}
.b3{position:absolute;top:330px;left:30px;}
.b4{position: absolute;top:370px;left:30px;border-color: yellow;}
.b5{position:absolute;top:400px;left:30px;border-color:yellow ;background-color: yellow;border-radius:30px ;padding-left:50px;padding-right:50px;}
.c1{height:200px;width:200px;position: absolute;top:100px;left:360px;}
.c2{position: absolute;top:300px;left:360px;color: aqua;}
.c3{position: absolute;top:330px;left:360px;}
.c4{position: absolute;top:370px;left:360px;border-color: yellow;}
.c5{position: absolute;top:400px;left:360px;background-color: yellow;border-color: yellow;padding-left:50px;padding-right:50px;border-radius:30px;}
.d1{height:200px;width:200px;position: absolute;top:100px;left:650px;}
.d2{position: absolute;top:300px;left:650px;color: aqua;}
.d3{position: absolute;top:330px;left:650px;}
.d4{position: absolute;top:370px;left:650px;border-color: yellow;}
.d5{position:absolute;top:400px;left:650px;background-color:yellow;border-color:yellow;border-radius:30px;padding-left:50px;padding-right:50px;}
.e{position: ;}